a, a:hover{
  text-decoration: none;
  color: inherit;
}

header {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #00bcd4;
    top: 0;
}

main {
  width: 100%;
  margin-top: 140px;
}
.dashboard {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}

.tab-label {
  display: none
}

.toolbar {
    display: flex;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    justify-content: center
}

.toolbar-container {
    max-height: 75px;
    height: auto;
    background-color: #00bcd4;
    display: flex;
    justify-content: center
}

.toolbar-container .mdl-tabs {
  width: 100%
}

.AppBar {
    height: 65px;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
    background-color: #00bcd4;
    color: #fff;
    z-index: 99;
    display: flex;
    top: 0;
    align-items: center
}

.AppBar__title {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin-left: 10px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.AppBar__left {
  flex: 4
}

.AppBar__left,
.AppBar__right {
  display: flex;
  align-items: center
}

.map-container {
  position: absolute;
  height: calc(100% - 140px);
  width: 100%;

}

.keymetrics__title {
  color: #757575;
  padding-left: 16px;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.keymetrics__issues--value {
  font-size: 60px;
  text-align: center;
  color: #00bcd4
}

.keymetrics {
  display: flex;
  flex-direction: column;
}

.keymetrics__upper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.keymetrics__upper__left {
  width: 100%;
}

.keymetrics__upper__right {
  width: 100%;
}

.keymetrics__lower {
  width: 100%;
}

@media only screen and (max-height: 500px) {

  header {
      position: static;
  }

  main {
    margin-top: 0;
  }

  .map-container : {
    position: absolute;
    height: 100%;
    width: 100%;
  }

}

@media only screen and (min-width: 400px) {

  .tab-label {
    display: inline;
  }

}

@media only screen and (min-width: 768px) {
  main, .toolbar, .AppBa, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
  }

}

@media only screen and (min-width: 991px) {
  main, .toolbar, .AppBar, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
  }

  .keymetrics__upper__left {
    width: 50%;
  }

  .keymetrics__upper__right {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  main, .toolbar, .AppBar, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
  }
}

.hint {
    position: relative;
    display: inline-block
}


.hint:before,
.hint:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0;
    transition-delay: 0
}
.hint:hover:before,
.hint:hover:after,
.hint:focus:before,
.hint:focus:after {
    visibility: visible;
    opacity: 1
}
.hint:hover:before,
.hint:hover:after {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms
}
.hint:before {
    content: '';
    position: absolute;
    background: 0 0;
    border: 6px solid transparent;
    z-index: 1000001
}
.hint:after {
    content: attr(data-hint);
    background: #383838;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap
}
.hint--top:before {
    border-top-color: #383838
}
.hint--top:before {
    margin-bottom: -12px
}
.hint--top:after {
    margin-left: -18px
}
.hint--top:before,
.hint--top:after {
    bottom: 100%
}
.hint--top:hover:after,
.hint--top:hover:before,
.hint--top:focus:after,
.hint--top:focus:before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px)
}

.hint:after {
    text-shadow: 0 -1px 0 #000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3)
}

.hint--info:after {
    background-color: #00bcd4;
    text-shadow: 0 -1px 0 #193b4d
}

.hint--rounded:after {
    border-radius: 4px
}

.hint--html.hint:after {
    display: none;
    opacity: 0
}
.hint__content {
    background: #383838;
    color: rgba(0, 0, 0, 0.870588);
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
}

.hint__content h3 {
  margin-bottom: 6px;
  font-size: 14px;
  margin-top: 6px;
  text-align: center;
  font-weight: 800;
}

.hint__content h4 {
  color: rgba(0, 0, 0, 0.541176);

  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 600;
}
.hint .hint__content {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0;
    transition-delay: 0
}
.hint:hover .hint__content,
.hint:focus .hint__content {
    visibility: visible;
    opacity: 1
}
.hint:hover .hint__content {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms
}

.hint--top:before,
.hint--top:after {
    left: calc(50% - 6px)
}
.hint--top .hint__content {
    margin-left: -18px;
    bottom: 100%;
    left: calc(50% - 6px)
}
.hint--top .hint__content:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    height: 12px;
    width: 100%;
    opacity: 0;
    background-color: red
}
.hint--top:hover .hint__content,
.hint--top:focus .hint__content {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px)
}

.hint--info .hint__content {
    background-color: #fff
}
.hint--info.hint--top:before {
    border-top-color: #fff
}

.hint__up {
  background-color: green;
}

.hint__down {
  background-color: red;
}
